.test {
    lost-align: right;
    lost-center: 1140px 30px flex;
    lost-column: 2/6 3 60px flex;
    lost-flex-container: row;
    lost-masonry-column: 1/3 60px flex;
    lost-masonry-wrap: no-flex;
    lost-move: 1/2;
    lost-offset: 1/3;
    lost-row: 1/3;
    lost-unit: vw;
    lost-utility: edit rgb(15, 150, 25);
    lost-waffle: 1/3 float-right;
}
